.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  gap: useClamp(564, 1180, 2, 4);
  place-items: center;
  transition: opacity 0.2s;

  &[data-loading] {
    opacity: 0.5;
  }
}
