.search {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.input {
  position: relative;
  width: min(30rem, 100%);

  @include tablet {
    width: 100%;
  }

  input {
    border: none;
    background: color(bg, primary);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.5rem rgba(black, 0.06);
    width: 100%;
    padding: 1.125rem 1rem 1rem 3.5rem;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: color(gray, 300);
    }
  }

  svg {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: color(gray, 300);
  }
}
