.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  background: color(bg, body);
  min-height: 100vh;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block: 3rem;
}
