.btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  color: color(gray, 100);

  &[data-loading] {
    background: rgba(black, 0.1);
    border-radius: 0.5rem;
    color: transparent;
  }

  @include mobile {
    font-size: 0.75rem;
  }

  @include hover {
    svg {
      animation: 0.5s alternate rotate ease-in-out infinite;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(-25deg);
  }
}
