.section {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include tablet {
    gap: 1.5rem;
  }

  @include mobile {
    flex-direction: column;
  }
}

.input {
  position: relative;
  width: min(30rem, 100%);

  @include tablet {
    width: 100%;
  }

  input {
    border: none;
    background: color(bg, primary);
    box-shadow: 0 0.125rem 0.5rem rgba(black, 0.06);
    border-radius: 0.25rem;
    width: 100%;
    padding: 1.125rem 2.5rem 1rem 3.5rem;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: color(gray, 300);
    }
  }

  .iconSearch {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: color(gray, 300);
  }

  .btnClear {
    position: absolute;
    right: 0.75rem;
    font-size: 1.25rem;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    color: color(gray, 300);

    @include hover {
      color: color(gray, 200);
    }
  }
}
