.btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: fit-content;
  background: color(bg, primary);
  box-shadow: 0 0.125rem 0.5rem rgba(black, 0.06);
  border-radius: 0.25rem;
  padding-block: 0.625rem;
  padding-inline: 1.75rem 2.25rem;
  color: color(gray, 300);

  @include tablet {
    margin-top: unset;
    margin-bottom: 3rem;
  }

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba(black, 0.15);
  }

  svg {
    font-size: 1.125rem;
  }
}

.container {
  display: grid;
  gap: 7.5rem;
  grid-template-columns: auto 1fr;

  @include laptop {
    gap: 5rem;
  }

  @include tablet {
    grid-template-columns: unset;
    gap: 2.75rem;
  }

  img {
    max-width: 560px;
    width: 100%;
    max-height: 400px;

    @include tablet {
      max-width: 100%;
      width: auto;
      max-height: auto;
    }
  }

  h2 {
    margin-bottom: 1.875rem;

    @include mobile {
      font-size: 1.75rem;
    }
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 2.75rem;
  margin-bottom: 4rem;

  @include tablet {
    margin-bottom: 2.625rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  li {
    font-weight: 600;

    span {
      font-weight: 400;
      color: color(gray, 300);
    }
  }
}

.border {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-weight: 600;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
}
