@import "global";

:root {
  --100: hsl(200, 15%, 8%);
  --200: hsl(207, 26%, 17%);
  --300: hsl(209, 23%, 22%);
  --400: hsl(0, 0%, 52%);
  --500: hsl(0, 0%, 98%);
  --600: white;

  --primary: white;
  --body: hsl(0, 0%, 98%);
  --select: 200, 15%, 8%;
}

[data-theme="dark"] {
  --100: white;
  --200: hsl(0, 0%, 98%);
  --300: hsl(0, 0%, 52%);
  --400: hsl(209, 23%, 22%);
  --500: hsl(207, 26%, 17%);
  --600: hsl(200, 15%, 8%);

  --primary: hsl(209, 23%, 22%);
  --body: hsl(207, 26%, 17%);
  --select: 0, 0%, 100%;
}

[data-container] {
  width: 90vw;
  margin-inline: auto;

  &[data-container="fixed"] {
    max-width: 1280px;
  }
}

html {
  overflow: overlay;
}
